$body-font-family: "Fira Sans";
$bgColor: rgba(14, 112, 161, 0.76);
$textColor: black;
$btnColor: yellow;
$fontSize: 16px;
$textAlign: center;





// typography

// .container {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   height: auto;
//   width: 80%;
//   background: #ffffff;
//   overflow: hidden;
//   border-radius: 5px 10px 10px ;
//   box-shadow: 0 0 20px 8px #241f1f;
//   padding: 20px 20px 20px 20px;
//   padding-top: 40px;
//   justify-items: center;
// }
.container__label {
  margin-bottom: 30px;
  margin-top: 100px;
  font-size: 20px;
}

.container__btn {
  background-color: $bgColor;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

h1 {
  font-weight: 900;
  text-align: center;
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.container-grid {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .container-grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: left;
  }
  
  .checkbox__align{
      text-align: left;
  }